.cartContainer {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    background-color: rgba(0, 0, 0, .6);
    z-index: 2;
    padding-bottom: 5rem;
    
}

.carrito {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.5);   
    width: 70%;
    height: 100%;
    padding: 1.6rem;
    border-radius: 8px;
    overflow-x: scroll;
    transition: all 300ms ease-in-out;
    background-color: white;
    
}

.textCart {
    text-align: center;
    font-size: 3rem;
    color: black;
}

.carritoCenter{
    width: 98%;
    margin: 0 auto;
}

.itemsCarrito{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    width: 80%;
    margin: 2rem auto;
    box-shadow: 0 1px 10px brown;
    border-radius: 5px;
}

.imgCart {
    width: 20rem;
}

.itemsCarrito h3{
    margin-top: 1.5rem;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.productName {    
    font-size: 20px bold;    
    text-align: start;
    margin-left: -0.1rem ;
}

.product-price {    
    font-size: 20px;
    color: black;  
}

.arrow {  
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-top: .3rem;
}

.itemsCarrito .cantidad{
    font-size: 3rem;
    font-weight: bold;
}

.removeItem { 
    width: 60px;
    height: 80px;    
    margin-top: 2rem;
}

.totalPrice {
    font-size: 24px;
    background: rgb(3, 11, 48);
}

.footerCart{
    text-align: center;
    margin-bottom: 3rem;
}

.footerCart h3{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
}

.btnClear {
    display: inline-block;    
    margin-top: 30px;
    margin-left: 20px;
    font-size: 1.5rem;
    background-color: rgb(72, 72, 155);
    outline: 0;
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white; 
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.btnConfirm {
    display: inline-block;    
    margin-top: 30px;
    margin-left: 20px;
    font-size: 1.5rem;
    background-color: rgb(72, 72, 155);
    outline: 0;
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white; 
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}

.icon {
    font-size: 30px;
}

.bodyOrder {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10%;
}

.messageOrder {
    text-align: center;
    font-size: 1.5rem;
    color: black;    
    height: 100%;
    border-radius: 5px;    
}

.btnBack {    
    margin-top: 30px;  
    background-color: rgb(2, 2, 41); 
    width: 20%;       
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 60%;
    margin-left: 40%;
    font-size: 1.5rem;
    color: white;    
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;    
}

.dataUser {
    font-size: 25px;
}