.cart-container-detail{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  justify-content: space-evenly;
  }

.ItemDetailCart{
  width: 400px;
  height: 700px;
  border: 1px solid #090e4e;
  border-radius: 5px;
  overflow: hidden;  
  padding: 10px;
  margin: 40px 20px;
  background-color: white;
}

.nameProduct {
  text-align: center;
  font-size: 20px;
  color: black;
}

.ImgCart {
  width: 100%;
  max-width: 300px;
  min-height: 200px;  
  object-fit: cover;
  object-position: center;
}

.item-button {
  background-color: blue;  
  width: 50%;
  margin: 0 auto;
  font-size: 1rem;
  color: white;
  font-weight: 200;
}

