.CartWidget {
    width: auto;
    padding: 12px;    
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
    position: relative;
    cursor: pointer;    
}

.itemTotal {
    position: absolute;
    top: -0.5rem;
    right: -1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 50%;
    background-color: red;
}