.Saludo {

    color: black;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.ItemListContainer {
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}