.cart-container{
  padding: 5rem 3rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit);
  gap: 3rem 3rem;
  box-sizing: border-box ;    
}

.ItemCart{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, 0.1);
  border: 6px solid transparent;
  cursor: pointer;
  border-radius: 5px;  
}

.ImgCart img {
  width: 100%;
}  

.NameCart {  
  margin: 10px 0px;
  text-align: center;
  font-size: 30px;
  color: black; 
}

.productFooter p{
  font-weight: 700;
  color: rgba(0, 0, 0, 0.555);
  text-transform: uppercase;
  font-size: 18px;
}

.product-price {
  font-size: 1.5rem;
  color: #1a202c;
}

/*.button {
  width: 100%;
  height: 45px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem 2rem;
  background-color: #08a05c;

}

.item-button {
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 5px; 
  
}*/

.bottom .btn{
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;
}

.bottom button{
  background-color: blue;  
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  color: white;
  font-weight: 200;
}

.bottom div{
  background-color: green;
  display: grid;
  align-items: center;
  text-align: center;
  margin-left: -2rem;
  border-radius: 5px;
}

.bottom div a{
  color: white;
  font-weight: 200;
}

.bottom div a:hover{
  color: white;
}


