.card-container{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    justify-content: space-evenly;
  }

.ItemCard{
    padding: 10px;
    margin: 50px;
}

.NameCard {
    text-align: center;
    font-size: 20px;
    color: black;
}

.item-button {
    background-color: white;
    color: black;
    border: 2px solid rgb(4, 13, 65); 
    padding: 10px 10px;
    margin-top: 10px;
    border-radius: 8px;    
    right: 30px;
  }
